/*リセット*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-family: "Century Gothic", "ヒラギノ角ゴ Pro", sans-serif;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
	margin-bottom: 1em;
}
html, body {
	line-height: 1.4;
	height: 100%;
	font-size: 14px;
}
/*共通部分*/
body > section + section {
	margin-top: 2em;
}
footer {
	margin: 0 auto;
}
footer > .about {
	border-left: 5px solid #22ace8;
}
h2 {
	font-size: 2rem;
	margin-bottom: 0.5em;
	font-weight: bold;
}
h3 {
	font-size: 1.4rem;
	margin: 0 auto 0.5em;
	padding: 0.25em 0.5em;
	background-color: #f4f4f4;
	border-left: 5px solid #22ace8;
}
h4 {
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 1em 0 0.25em;
	background: linear-gradient(to top, white 2px, #74c9ef 2px, #74c9ef 11px, white 11px);
	display: inline;
}

dl {
	margin-bottom: 1em;
}
dt {
	font-weight: bold;
	margin: 1em auto 0.5em;
}
dt ~ dt {
	margin-top: 2em;
}
table {
	border-collapse: collapse; /*これをしないとtrにボーダーが効かない*/
	margin-bottom: 2em;
	width: 100%;
}
tr {
	border-top: 2px solid #c3c3c3;
	border-bottom: 2px solid #c3c3c3;
}
tr:hover {
	background-color: #efefef;
}
th {
	font-weight: bold;
	text-align: left;
}
th, td {
	display: flex;
	align-items: center;
	padding: 0.5em;
}
blockquote {
	color: #666666;
	border-left: 4px solid #c3c3c3;
	padding: 0.5em 0 0.5em 1em;
	margin-bottom: 1em;
}
blockquote > *:last-child {
	margin-bottom: 0;
}
pre {
	margin-bottom: 1em;
}
code {
	font-family: monospace;
	font-size: 0.8rem;
	border-radius: 5px;
}
p {
	margin-bottom: 1.5em;
	line-height: 2em;
}
p + p {
	margin-top: 1.5em;
}
li {
	padding-left: 1.45em;
	text-indent: -1.45em;
	margin: 1em 0;
	line-height: 1.8em;
}
h4 + * {
	margin-top: 1em;
}
section ul li:before,
article ul li:before {
	content: "　";
	background: no-repeat url(/images/list-style.svg) center/75%;
	opacity: 0.4;
	margin:auto 0.15em auto 0.3em;
}
section ol li,
article ol li {
	list-style: decimal;
	list-style-position: inside;
	margin-left: 1em;
}
li ul,
li ol {
	margin: 0em 0 0.5em 1em;
}
ul.article-list > li {
	margin-bottom: 1em;
}
img,
video {
	width: 100%;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	margin-bottom: 1em;
}
a {
	color: #22ace8;
	font-weight: bold;
}
a:hover {
	color: #b4d8e8;
}
.button {
	display: inline-flex;
	align-items: center;
	padding: 12px;
	margin: 5px auto;
	color: white;
	background-color: #59a5ff;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 0.8rem;
}
b,
strong {
	font-weight: bold;
}
small {
	font-size: 0.8em;
}
del {
	text-decoration: line-through;
}
.twitter-tweet {
	padding-bottom: 1em!important;
}
.twitter-video {
	min-width: 100%!important;
}
iframe[src^="https://www.youtube.com/"] {
	width:100%;
	height:56.25vw;
	margin-bottom: 1em;
}
iframe[src^="https://www.facebook.com/"][src-="video"] {
	height: 28px!important;
}
iframe {
	width: 100%;
	height:56.25vw;
}
iframe + h4:before {
	display: inline-block;
	content: "　";
	margin: 1em 0 0 -1em;
}

.recent-articles a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	overflow: hidden;
	height: calc(400px * 0.5625 / 3);
	margin-bottom: 1em;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
}
.recent-articles a:hover {
	transform: scale(1.05, 1.05);
	border-radius: 10px;
}
.recent-articles p {
	color:white;
	z-index: 1;
	text-shadow: 0 0 7px black;
	margin: auto;
	font-size: 1.3em;
	text-align: center;
	line-height: 1.5em;
}
.recent-articles img {
	filter: blur(5px);
	position: absolute;
	left: 0; /*Safari用*/
}

/*ナビゲーション*/
header {
	position: fixed;
	min-height: 50px;
	width: 100%;
	background-color: black;
	display: flex;
	align-items: center;
	color: #dadada;
	font-weight: bold;
	z-index: 100;
}
header span {
	position: absolute;
}
#status {
	left: 50%;
	transform: translateX(-50%);
	font-weight: normal;
}
#optionButton {
	display: flex;
	align-items: center;
	right: 0;
	height: 50px;
	padding: 0 1em;
	transition: .25s;
	cursor: pointer;
}
#optionButton:hover {
	color: #22ace8;
	background-color: rgba(255, 255, 255, 0.15);
}
.options {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1em;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	border: 2px solid #c3c3c3;
	background-color: white;
	z-index: 4;
	font-weight: bold;
}
.options-background{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
}
.options p {
	margin: 1em 0 0 0;
}
h1 {
	margin: 0 2em 0 1em;
	font-weight: bold;
	flex: none; /*0 0 auto*/
	font-size: 1em;
}
h1 a {
	color: #dadada;
}
header ul {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}
header ul a {
	color: #dadada;
	padding: 0 1em;
	display: flex;
	align-items: center;
	min-height: 50px;
	transition: .25s;
	font-weight: normal;
}
header ul a:hover {
	color: #22ace8;
	background-color: rgba(255, 255, 255, 0.15);
}
.nav-dropdown {
	display: none;
}
nav li {
	margin-bottom: 0;
	padding-left: 0;
	text-indent: 0;
	margin: 0;
}
.share-buttons {
	text-align: center;
	margin: 20px auto;
}
.share-buttons > a {
	display: inline-block;
	margin: 0.5em;
	padding: 10px 10px 10px 2.6em;
	background-position: 10px;
	background-size: 1.5em;
	background-repeat: no-repeat;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-size: 0.8em;
}
#twitter-button {
	background-color: #1DA1F2;
	background-image: url(/images/Twitter.svg);
}
#twitter-button:hover {
	background-color: #0c7abf;
}
#facebook-button {
	background-color: #4267b2;
	background-image: url(/images/Facebook.svg);
}
#facebook-button:hover {
	background-color: #365899;
}
#line-button {
	background-color: #00C300;
	background-image: url(/images/LINE.svg);
}
#line-button:hover {
	background-color: #02a52f;
}
.fb-comments {
	display: block!important;
	margin: 2em 0;
}
/*ブログ用*/
.blog-dates {
	text-align: right;
}
.blog-dates:before {
	content: "　";
	background: no-repeat url(/images/calendar.svg) center/90%;
	margin:auto 0.15em auto 0.3em;
}

/*画像のキャプション用*/
figure {
	position: relative;
}
figcaption {
	color: rgba(255, 255, 255, 0.7);
	position: absolute;
	bottom: 2em;
	left: 1em;
}
figcaption.bg {
	background-color: rgba(0, 0, 0, 0.4);
	margin-bottom: 0.2em;
	padding: 0.5em 1em;
	border-radius: 5px;
}

/*チェックボックス*/
input[type=checkbox] {
	display: none;
}
/*入力ボックス*/
input[type=text] {
	outline: 0;
	border-radius: 5px;
	border: 2px solid #c3c3c3;
	padding: 5px;
}

.toggle-button label {
	position: relative;
}

.toggle-button span {
	padding-left: 3.4em;
}

.toggle-button :checked + span {
	background-color: #286cb0;
}

.toggle-button span > div {
	position: absolute;
	left: 0.5em;
	width: 2.5em;
	height: 2.5em;
	margin: 0;
	background-image: url(/images/unchecked.svg);
}

.toggle-button :checked + span > div {
	background-image: url(/images/checked.svg);
}

.toggle-button {
	margin: 0;
}

@media screen and (max-width:320px) {
	p {
		line-height: 1.8em;
	}
	.recent-articles p {
		font-size: 1.2em;
	}
}

@media screen and (max-width:760px) {
	h3 {
		margin-top: 1.5em;
	}
	body > section,
	body > article {
		margin:0em 10px 1em;
		padding: 10px 10px 0;
	}
	body > footer {
		margin:0 20px;
	}
	body > footer > .about {
		padding: 10px;
	}
	body > .multi-column {
		margin:0 10px 1em;
		padding: 0 10px;
	}
	.multi-column > section:not(:last-child) {
		margin-bottom: 2em;
	}
	section > *:last-child {
		margin-bottom: 0;
	}
	/*ナビゲーション*/
	header {
		height: 50px;
		align-items: flex-start;
		line-height: 50px;
	}
	header ul li {
		flex-basis : 100%;
	}
	nav {
		visibility: hidden;
	}
	nav ul li a {
		color: transparent;
		
	}
	.nav-dropdown {
		display: block;
		background: no-repeat url(/images/down-arrow.svg) center/contain;
		width:50px;
		height: 50px;
		flex: none;
	}
	h3 + .multi-column > *:first-child > *:first-child {
		margin-top: auto;
	}
}
@media screen and (min-width:761px) {
	p {
		line-height: 2em;
	}
	h3 {
		margin-top: 2em;
	}
	nav {
		line-height: 50px; /*IE11のメニュー上下中央寄せ*/
	}
	h3 + .multi-column > * > *:first-child {
		margin-top: auto;
	}
	body > section,
	body > article,
	body > footer,
	body > .multi-column {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 10px;
	}
	body > footer > .about {
		max-width: 775px;
		padding: 1em 10px;
	}
	.multi-column {
		display: flex;
	}
	.multi-column > * {
		flex: 1 1 400px; /*数値指定によって均等に割るためであって400pxに意味はない。*/
		margin: 0 10px 1em;
		align-self: flex-start;
		width: 1%;
	}
	.multi-column > *:first-child {
		margin-left: 0;
	}
	.multi-column > *:last-child {
		margin-right: 0;
	}
	.halfWidthOnPC {
		width:50%;
		margin: 1em auto;
		display:block;
	}
	.twitter-tweet {
		max-width: calc(760px / 2)!important;
	}
	.mobileOnly {
		display: none;
	}
}

@media print {
	#optionButton {
		display: none;
	}
	#status {
	left: auto;
	right: 1em;
	transform: translateX(0);
	}
}