/*リセット*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Krub, arial, "Hiragino Kaku Gothic Pro", "Noto Sans JP", Meiryo, sans-serif;
	-webkit-font-smoothing: antialiased;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	line-height: 1.4;
	height: 100%;
	font-size: 14px;
}
/*共通部分*/
/*
* "Krub" is lisenced under the SIL Open Font License 1.1
* by https://github.com/cadsondemak/Krub
*/
@font-face {
	font-family: 'Krub';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src:url(/fonts/Krub-Medium.ttf);
}
@font-face {
	font-family: 'Krub';
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	src:url(/fonts/Krub-Bold.ttf);
}
/*
* "Noto Sans JP" is lisenced under the SIL Open Font License 1.1
* by https://www.google.com/get/noto/
*/
@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src:url(/fonts/NotoSansJP-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans JP';
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	src:url(/fonts/NotoSansJP-Bold.otf) format('opentype');
}
table {
	display: table-cell;
	border-collapse: collapse; /*これをしないとtrにボーダーが効かない*/
	margin-bottom: 2em;
	width: 100%;
	font-size: 15px;
}
thead {
	display: grid;
}
tbody {
	display: grid;
	position: relative;
	top: 48px;
}
tr {
	display: inline-flex;
	border-top: 2px solid #c3c3c3;
	border-bottom: 2px solid #c3c3c3;
}
tr:not(:first-child) {
	border-top: none;
}
th {
	font-weight: bold;
	text-align: left;
}
td {
	font-family: -apple-system, BlinkMacSystemFont, Krub, 'Kosugi';
}
td.hSticky {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Krub, arial, "Hiragino Kaku Gothic Pro", "Noto Sans JP", Meiryo, sans-serif;
}
th, td {
	display: flex;
	align-items: center;
	padding: 0.5em;
	line-height: 1.5em;
	border-right: 2px solid #c3c3c3;
}
th:first-child, td:first-child {
	border-left: 2px solid #c3c3c3;
}
table img {
	object-fit: contain;
	height: 146.2px;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	vertical-align: bottom;
	width: 100%;
}
.vSticky {
	position: -webkit-sticky;
	position: sticky;
	top: 50px;
	z-index: 2;
	background-color: white;
}
.hSticky {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	z-index: 1;
	background-color: white;
}
.column1 {
	width: 90px;
}
.column2 {
	width: 130px;
	left: 109px;
}
.normalCell {
	width: 260px;
}
.emptyCell {
	background-color: rgba(0, 0, 0, 0.15);
	color: rgba(0, 0, 0, 0.5);
}
p {
	margin-bottom: 1.5em;
	line-height: 2em;
}
p + p {
	margin-top: 1.5em;
}
a {
	color: #22ace8;
	font-weight: bold;
}
a:hover {
	color: #b4d8e8;
}
.bold {
	font-weight: bold;
}
.button {
	display: inline-flex;
	align-items: center;
	padding: 12px;
	margin: 5px auto;
	color: white;
	background-color: #59a5ff;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 0.9rem;
	font-family: -apple-system, BlinkMacSystemFont;
}
.button:hover {
	color: white;
}
/*ナビゲーション*/
header {
	position: fixed;
	min-height: 50px;
	width: 100%;
	background-color: black;
	display: flex;
	align-items: center;
	color: #dadada;
	font-weight: bold;
	z-index: 100;
}
header span {
	position: absolute;
}
#title {
	left: 1em;
}
#status {
	left: 50%;
	transform: translateX(-50%);
	font-weight: normal;
	font-family: -apple-system, BlinkMacSystemFont, 'Kosugi';
}
#optionButton {
	display: flex;
	align-items: center;
	right: 0;
	height: 50px;
	padding: 0 1em;
	transition: .25s;
	cursor: pointer;
}
#optionButton:hover {
	color: #22ace8;
	background-color: rgba(255, 255, 255, 0.15);
}
.options {
	position: fixed;
	top: calc(50px + 50% - 45vh);
	left: calc(50% - 450px);
	max-height: 75vh;
	overflow-y: scroll;
	padding: 1em;
	width: 900px;
	border: 2px solid #c3c3c3;
	background-color: white;
	z-index: 4;
	font-weight: bold;
	scrollbar-color: #c3c3c3 white; /*Firefox 用*/
	scrollbar-width: thin; /*Firefox 用*/
}
.options::-webkit-scrollbar {
	width: 10px;
}
.options::-webkit-scrollbar-thumb {
	background-color: #c3c3c3;
}
.options-background{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
}
.options p {
	margin: 1em 0 0 0;
}
#loadingMessage {
	height: calc(100% - 50px); /*ヘッダの高さを引いている*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 2em;
}
/*チェックボックス*/
input[type=checkbox] {
	display: none;
}
/*入力ボックス*/
input[type=text],
textarea,
select {
	border-radius: 5px;
	border: 2px solid #c3c3c3;
	padding: 5px;
}
input[type=text]:focus,
textarea:focus,
select:focus {
	outline: 0;
	border-color: #59a5ff;
}

.toggle-button label {
	position: relative;
}

.toggle-button span {
	position: relative;
	padding-left: 3.4em;
}

.toggle-button :checked + span {
	background-color: #286cb0;
}

.toggle-button span > div {
	position: absolute;
	left: 0.5em;
	width: 2.5em;
	height: 2.5em;
	margin: 0;
	background-image: url(/images/unchecked.svg);
}

.toggle-button :checked + span > div {
	background-image: url(/images/checked.svg);
}

.toggle-button {
	margin: 0;
}

@media screen and (max-width:1100px) {
	.options {
		width: 600px;
		left: calc(50% - 300px);
	}
}

@media screen and (max-width:760px) {
	/*ナビゲーション*/
	header {
		height: 50px;
		align-items: flex-start;
		line-height: 50px;
	}
	.options {
		width: calc(100% - 32px);
		left: auto;
		height: calc(100vh - 82px);
		max-height: none;
		top: calc(50px);
	}
}

@media screen and (max-width:550px) {
	#title {
		display: none;
	}
	#status {
		left: 1em;
		transform: translateX(0%);
	}
}

@media screen and (max-width:320px) {
	p {
		line-height: 1.8em;
	}
}

@media screen and (min-width:761px) {
	p {
		line-height: 2em;
	}
}

@media print {
	header {
		position: absolute;
	}
	#optionButton, #loadingMessage, #IEAlert {
		display: none;
	}
	#status {
		left: auto;
		right: 1em;
		transform: translateX(0);
	}
	.vSticky {
		position: relative;
		top:50px;
	}
}

@media screen and (prefers-color-scheme: dark) {
	body, .hSticky, tr, th, td, .options, .button, input[type=text] {
		background-color: #1f1f1f;
		color: #cccccc;
		border-color: #6c6c6c;
	}
	th, td {
		border-right: 2px solid #6c6c6c;
	}
	th:first-child, td:first-child {
		border-left: 2px solid #6c6c6c;
	}
	.button {
		background-color: #2b6dbc;
		color: #dddddd;
	}
	.button:hover {
		color:#dddddd;
	}
	a {
		color: #259ed3;
	}
	a:hover {
		color: #1b749b;
	}
	.emptyCell {
		background-color: #151515;
		color: #9b9b9b;
	}
	.toggle-button span > div {
		background-image: url(/images/unchecked-dark.svg);
	}

	.toggle-button :checked + span > div {
		background-image: url(/images/checked-dark.svg);
	}
	.options {
		scrollbar-color: #6c6c6c #1f1f1f; /*Firefox 用*/
	}
	.options::-webkit-scrollbar-thumb {
		background-color: #6c6c6c;
	}
}