/*リセット*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Krub, arial, "Hiragino Kaku Gothic Pro", "Noto Sans JP", Meiryo, sans-serif;
    -webkit-font-smoothing: antialiased;
    vertical-align: baseline;
    text-decoration: none;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body {
    line-height: 1.4;
    height: 100%;
    font-size: 14px;
}


/*
* "Krub" is lisenced under the SIL Open Font License 1.1
* by https://github.com/cadsondemak/Krub
*/

@font-face {
    font-family: "Krub";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Krub-Medium.ttf);
}

@font-face {
    font-family: "Krub";
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Krub-Bold.ttf);
}

a {
    color: #22ace8;
    font-weight: bold;
}

a:hover {
    color: #b4d8e8;
}